.fab {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	z-index: 1000;
	border-radius: 50%;

	width: 4.2em;
	height: 4.2em;

}


.icon {
	text-align: center;
	vertical-align: middle;
	line-height: 4.2em;
}