.game-width {
    width: 300px;
}

.game-tile {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.game-tile h1 {
    position: relative;
    padding: 70px 0;
    text-align: center;
    margin: auto;
    z-index: 1;
}
